#container {
  width: 900px;
  position: relative;
  margin: 0 auto;
  text-align: center;
}
#header {
  margin-bottom: 10px;
  height: 70px;
  width: 900px;
  background-color: lightgrey;
}
div.leftitem {
  margin: 0px 10px 10px 0px;
  height: 100px;
  width: 600px;
  background-color: lightgrey;
}
#rightmenu {
  height: 430px;
  width: 290px;
  background-color: lightgrey;
  float: right;
}
